<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= form_for(@attachment, format: :json, authenticity_token: true) do |f| %>
    <div class="field">
      <%= f.label :file %><br>
      <%= f.attachment_field :file, direct: true, presigned: true %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</body>
</html>
