<li class="row">
  <div class="col-md-6 clearfix">

    <h4>
      <%= link_to campaign.subject, campaign %>
      <span class="label label-<%= if campaign.sent? then 'success' else 'default' end %>">
        <%= if campaign.sent? then t('.status.sent') else t('.status.draft') end %>
      </span>
    </h4>

    <p>
      <%= t('.sent_on', date: l(campaign.sent_at, format: :default_concise)) if campaign.sent? %>
    </p>
  </div>

  <div class="col-md-5">
      <div class="clearfix">
        <div class="data pull-left text-center">
          <h4><%= campaign.recipients.count%></h4>
          <p><%= t('.recipients') %></p>
        </div>

        <% if campaign.sent? %>
          <div class="data pull-left text-center">
            <div>
              <h4>
                <%= number_to_percentage(campaign.open_rate, precision: 1) %>
              </h4>
              <p><%= t('.open', count: campaign.unique_opens) %></p>
            </div>
          </div>

          <div class="data pull-left text-center">
            <div>
              <h4>
                <%= number_to_percentage(campaign.click_rate, precision: 1) %>
              </h4>
              <p><%= t('.click', count: campaign.unique_clicks) %></p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div class="col-md-1 meta-actions text-left">
    <%= link_to campaign, method: :delete,
                          title: t('.delete_title'),
                          data: {
                            confirm: t('.delete_confirm'),
                            verify: t('.delete_verify'),
                            cancel: t(:cancel),
                            commit: t(:commit)
                          } do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %>
  </div>
</li>
