<%= form_for(@campaign) do |f| %>

  <fieldset>
    <% if @campaign.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

        <ul>
        <% @campaign.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :recipients_query, value: params['query'] %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :subject %>
          <%= f.text_field :subject, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :from_name %><br>
          <%= f.text_field :from_name, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :from %><br>
          <%= f.text_field :from, class: "form-control"%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group editor">
          <%= f.text_area :body, class: 'tinymce' %>
          <%= tinymce %>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit "Save and review", class: "btn btn-primary" %>
  </div>
<% end %>
