<%= form_for(@campaign) do |f| %>

  <fieldset>
    <% if @campaign.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= t("errors.messages.campaign.not_saved", count: @campaign.errors.count) %></h2>

        <ul>
        <% @campaign.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :recipients_query, value: params['query'] || @campaign.recipients_query %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :subject, class: "control-label" %>
          <%= f.text_field :subject, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :from_name, class: "control-label"  %>
          <%= f.text_field :from_name, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :from, class: "control-label"  %>
          <%= f.text_field :from, class: "form-control"%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group editor">
          <%= f.text_area :body, class: 'tinymce' %>
          <%= tinymce %>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit t('.save'), class: "btn btn-primary" %>
  </div>
<% end %>
