<div class="container campaign-compose">
  <div class="header text-center">
    <h1><%= t('.title') %></h1>
  </div>

  <ul class="list-unstyled strips">
    <li>
      <h4><%= Molecular::Recipient.model_name.human(count: 2) %></h4>

      <p>
        <%= t('.recipients.subtext') %>

        <%# OPTIMIZE: use link_to_if %>
        <% if Rails.application.routes.url_helpers.method_defined?(:molecular_recipients_path) %>
          <%= link_to t('.recipients.count', count: campaign.recipients.count), main_app.molecular_recipients_path(q: campaign.recipients_query),
            target:"_blank" %>
        <% else %>
          <%= t('.recipients.count', count: campaign.recipients.count) %>
        <% end %>
      </p>
    </li>

    <li>
      <h4><%= Molecular::Campaign.human_attribute_name(:subject) %></h4>
      "<%= campaign.subject %>"
    </li>

    <li>
      <h4><%= Molecular::Campaign.human_attribute_name(:reply_to) %></h4>
      <%= t('.reply_to.subtext_html', reply_to: "#{campaign.from_name} <#{campaign.from}>") %>
    </li>
    <li>
      <h4><%= Molecular::Campaign.human_attribute_name(:body) %></h4>
      <%= link_to t('.body.subtext'), "#", data: {toggle: "modal", target: "#mail-preview-modal"} %>
    </li>
  </ul>

  <div class="actions">
    <%= link_to t('.actions.send'), campaign_path(campaign, submit: true), method: :put, class: 'btn btn-primary' %>
    <%= link_to t('.actions.edit'), edit_campaign_path(campaign), class: 'btn btn-default' %>
  </div>
</div>
