<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @campaign.owner_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @campaign.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @campaign.body %>
</p>

<p>
  <strong>Recipients query:</strong>
  <%= @campaign.recipients_query %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @campaign.sent_at %>
</p>

<p>
  <%= link_to "Link", main_app.molecular_recipients_path if Rails.application.routes.url_helpers.method_defined?(:molecular_recipients_path) %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
